In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import math
import mpld3

In [2]:
bangladesh_2015 = pd.read_excel("bangladesh-impexp-2015.xlsx", sheet_name = "Partner")

In [3]:
len(bangladesh_2015)

181

In [4]:
bangladesh_2015.head()

,Reporter Name,Partner Name,Year,Trade Flow,Product Group,Export (US$ Thousand),Import (US$ Thousand),Export Product Share (%),Import Product Share (%),Revealed comparative advantage,...,MFN Total Tariff Lines,MFN Dutiable Tariff Lines Share (%),MFN Duty Free Tariff Lines Share (%),MFN Specific Tariff Lines Share (%),MFN AVE Tariff Lines Share (%),MFN MaxRate (%),MFN MinRate (%),MFN SpecificDuty Imports (US$ Thousand),MFN Dutiable Imports (US$ Thousand),MFN Duty Free Imports (US$ Thousand)
0,Bangladesh,Aruba,2015,EXPIMP,Textiles,0.00,0.01,NaN,100.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bangladesh,Afghanistan,2015,EXPIMP,Textiles,176.97,8.05,3.76,15.83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bangladesh,Albania,2015,EXPIMP,Textiles,2749.99,0.05,100.00,82.76,10.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bangladesh,Andorra,2015,EXPIMP,Textiles,0.00,2.22,NaN,58.36,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bangladesh,United Arab Emirates,2015,EXPIMP,Textiles,249172.96,231082.18,70.46,25.62,35.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bangladesh_2015.columns

Index(['Reporter Name', 'Partner Name', 'Year', 'Trade Flow', 'Product Group',
       'Export (US$ Thousand)', 'Import (US$ Thousand)',
       'Export Product Share (%)', 'Import Product Share (%)',
       'Revealed comparative advantage', 'World Growth (%)',
       'Country Growth (%)', 'AHS Simple Average (%)',
       'AHS Weighted Average (%)', 'AHS Total Tariff Lines',
       'AHS Dutiable Tariff Lines Share (%)',
       'AHS Duty Free Tariff Lines Share (%)',
       'AHS Specific Tariff Lines Share (%)', 'AHS AVE Tariff Lines Share (%)',
       'AHS MaxRate (%)', 'AHS MinRate (%)',
       'AHS SpecificDuty Imports (US$ Thousand)',
       'AHS Dutiable Imports (US$ Thousand)',
       'AHS Duty Free Imports (US$ Thousand)', 'MFN Simple Average (%)',
       'MFN Weighted Average (%)', 'MFN Total Tariff Lines',
       'MFN Dutiable Tariff Lines Share (%)',
       'MFN Duty Free Tariff Lines Share (%)',
       'MFN Specific Tariff Lines Share (%)', 'MFN AVE Tariff Lines Share (%)',
       'MFN MaxRate (%)', 'MFN MinRate (%)',
       'MFN SpecificDuty Imports (US$ Thousand)',
       'MFN Dutiable Imports (US$ Thousand)',
       'MFN Duty Free Imports (US$ Thousand)'],
      dtype='object')

In [6]:
bangladesh_2013 = pd.read_excel("bangladesh-impexp-2013.xlsx", sheet_name = "Partner")
bangladesh_2012 = pd.read_excel("bangladesh-impexp-2012.xlsx", sheet_name = "Partner")
bangladesh_2011 = pd.read_excel("bangladesh-impexp-2011.xlsx", sheet_name = "Partner")
bangladesh_2010 = pd.read_excel("bangladesh-impexp-2010.xlsx", sheet_name = "Partner")

In [7]:
# check for nan / None / unexpected values in Export & Import cols
print(bangladesh_2015['Export (US$ Thousand)'].isnull().values.any())
print(bangladesh_2013['Export (US$ Thousand)'].isnull().values.any())
print(bangladesh_2012['Export (US$ Thousand)'].isnull().values.any())
print(bangladesh_2011['Export (US$ Thousand)'].isnull().values.any())
print(bangladesh_2010['Export (US$ Thousand)'].isnull().values.any())

False
False
False
False
False

In [8]:
print(bangladesh_2015['Import (US$ Thousand)'].isnull().values.any())
print(bangladesh_2013['Import (US$ Thousand)'].isnull().values.any())
print(bangladesh_2012['Import (US$ Thousand)'].isnull().values.any())
print(bangladesh_2011['Import (US$ Thousand)'].isnull().values.any())
print(bangladesh_2010['Import (US$ Thousand)'].isnull().values.any())

False
False
False
False
False

In [9]:
print(bangladesh_2015['MFN Specific Tariff Lines Share (%)'].isnull().values.any())

True

We have clean data for every year for the Import and Export cols.

In [10]:
# compare exports from Bangladesh vs. imports in textiles
impexpdiff_2015 = bangladesh_2015['Export (US$ Thousand)'] - bangladesh_2015['Import (US$ Thousand)']

In [11]:
impexpdiff_2015.head()

0       -0.01
1      168.92
2     2749.94
3       -2.22
4    18090.78
dtype: float64

In [12]:
# create a new table with partner country, exports, imports, difference
impexp_basic_data_2015 = {"Partner Country": bangladesh_2015['Partner Name'], 
                          'Import (US$ Thousand)': bangladesh_2015['Import (US$ Thousand)'], 
                          'Export (US$ Thousand)': bangladesh_2015['Export (US$ Thousand)'], 
                          "Difference": impexpdiff_2015}
impexp_basic = pd.DataFrame(impexp_basic_data_2015)

In [13]:
impexp_basic.head()

,Partner Country,Import (US$ Thousand),Export (US$ Thousand),Difference
0,Aruba,0.01,0.00,-0.01
1,Afghanistan,8.05,176.97,168.92
2,Albania,0.05,2749.99,2749.94
3,Andorra,2.22,0.00,-2.22
4,United Arab Emirates,231082.18,249172.96,18090.78

In [14]:
fig, ax = plt.subplots(subplot_kw=dict(axisbg='#EEEEEE'), figsize=(15,15))
N = 181

scatter = ax.scatter(x = impexp_basic['Export (US$ Thousand)'], 
                     y = impexp_basic['Import (US$ Thousand)'], 
                     c = np.random.random(size=N),
                     s = 70,
                     alpha = 0.3,
                     cmap = plt.cm.jet)

ax.grid(color='white', linestyle='solid')

ax.set_xlabel('Export (US$ Thousand)')
ax.set_ylabel('Import (US$ Thousand)')
ax.set_title("Bangladesh Imports vs. Exports in Textiles (2015)", size=20)

labels = list(impexp_basic['Partner Country'])
tooltip = mpld3.plugins.PointLabelTooltip(scatter, labels=labels)
mpld3.plugins.connect(fig, tooltip)

mpld3.show()

Note: if you're in the IPython notebook, mpld3.show() is not the best command
      to use. Consider using mpld3.display(), or mpld3.enable_notebook().
      See more information at http://mpld3.github.io/quickstart.html .

You must interrupt the kernel to end this command

Serving to http://127.0.0.1:8889/    [Ctrl-C to exit]

/Users/lilybhattacharjee/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/deprecation.py:106: MatplotlibDeprecationWarning: The axisbg attribute was deprecated in version 2.0. Use facecolor instead.
  warnings.warn(message, mplDeprecation, stacklevel=1)
127.0.0.1 - - [29/Oct/2018 22:01:58] "GET /d3.js HTTP/1.1" 200 -
127.0.0.1 - - [29/Oct/2018 22:01:58] "GET /mpld3.js HTTP/1.1" 200 -
127.0.0.1 - - [29/Oct/2018 22:01:58] "GET / HTTP/1.1" 200 -

stopping Server...