In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import math

In [2]:
bangladesh_2015 = pd.read_excel("bangladesh-impexp-2015.xlsx", sheet_name = "Partner")

In [3]:
len(bangladesh_2015)

181

In [4]:
bangladesh_2015.head()

,Reporter Name,Partner Name,Year,Trade Flow,Product Group,Export (US$ Thousand),Import (US$ Thousand),Export Product Share (%),Import Product Share (%),Revealed comparative advantage,...,MFN Total Tariff Lines,MFN Dutiable Tariff Lines Share (%),MFN Duty Free Tariff Lines Share (%),MFN Specific Tariff Lines Share (%),MFN AVE Tariff Lines Share (%),MFN MaxRate (%),MFN MinRate (%),MFN SpecificDuty Imports (US$ Thousand),MFN Dutiable Imports (US$ Thousand),MFN Duty Free Imports (US$ Thousand)
0,Bangladesh,Aruba,2015,EXPIMP,Textiles,0.00,0.01,NaN,100.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bangladesh,Afghanistan,2015,EXPIMP,Textiles,176.97,8.05,3.76,15.83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bangladesh,Albania,2015,EXPIMP,Textiles,2749.99,0.05,100.00,82.76,10.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bangladesh,Andorra,2015,EXPIMP,Textiles,0.00,2.22,NaN,58.36,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bangladesh,United Arab Emirates,2015,EXPIMP,Textiles,249172.96,231082.18,70.46,25.62,35.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bangladesh_2015.columns

Index(['Reporter Name', 'Partner Name', 'Year', 'Trade Flow', 'Product Group',
       'Export (US$ Thousand)', 'Import (US$ Thousand)',
       'Export Product Share (%)', 'Import Product Share (%)',
       'Revealed comparative advantage', 'World Growth (%)',
       'Country Growth (%)', 'AHS Simple Average (%)',
       'AHS Weighted Average (%)', 'AHS Total Tariff Lines',
       'AHS Dutiable Tariff Lines Share (%)',
       'AHS Duty Free Tariff Lines Share (%)',
       'AHS Specific Tariff Lines Share (%)', 'AHS AVE Tariff Lines Share (%)',
       'AHS MaxRate (%)', 'AHS MinRate (%)',
       'AHS SpecificDuty Imports (US$ Thousand)',
       'AHS Dutiable Imports (US$ Thousand)',
       'AHS Duty Free Imports (US$ Thousand)', 'MFN Simple Average (%)',
       'MFN Weighted Average (%)', 'MFN Total Tariff Lines',
       'MFN Dutiable Tariff Lines Share (%)',
       'MFN Duty Free Tariff Lines Share (%)',
       'MFN Specific Tariff Lines Share (%)', 'MFN AVE Tariff Lines Share (%)',
       'MFN MaxRate (%)', 'MFN MinRate (%)',
       'MFN SpecificDuty Imports (US$ Thousand)',
       'MFN Dutiable Imports (US$ Thousand)',
       'MFN Duty Free Imports (US$ Thousand)'],
      dtype='object')